.solaredge-container {
  max-width: 500px;
  min-width: 500px;
  margin-right: auto;
  margin-left: auto;
}

.solaredge-parent-pv-battery {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 40px);;
  align-items: center;
  justify-content: center;
  row-gap: 10px;
}

.solaredge-parent-pv-only {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 20px);
  align-items: center;
  justify-content: center;
  row-gap: 10px;
}

.div-pv-status {
  grid-row: span 2 / span 2;
}

.div-pv-only-status {
  grid-row: span 4 / span 4;
}

.div-battery-status {
  grid-row: span 2 / span 2;
  grid-column-start: 1;
  grid-row-start: 3;
}

.div-home {
  grid-row: span 4 / span 4;
  grid-column-start: 3;
  grid-row-start: 1;
}

.div-grid-status {
  grid-row: span 4 / span 4;
  grid-column-start: 5;
  grid-row-start: 1;
}

.div-pv-arrow {
  grid-row: span 2 / span 2;
  grid-column-start: 2;
  grid-row-start: 1;
}

.div-pv-only-arrow {
  grid-row: span 4 / span 4;
  grid-column-start: 2;
  grid-row-start: 1;
}

.div-battery-arrow {
  grid-row: span 2 / span 2;
  grid-column-start: 2;
  grid-row-start: 3;
}

.div-grid-arrow {
  grid-row: span 4 / span 4;
  grid-column-start: 4;
  grid-row-start: 1;
}

.solaredge-row {
  display: flex;
  flex-wrap: wrap;
}

.solaredge-col {
  flex: 1 0 0;
}

.solaredge-align-self-center {
  align-self: center;
  text-align: center;
}

.solaredge-color-stand-by {
  color: darkred;
}

.solaredge-border-bottom {
  border-bottom: 1px solid var(--color-text-dimmed);
}

.solaredge-text-align-left {
  text-align: left;
}

.solaredge-text-align-right {
  text-align: right;
}

.solaredge-pv-relative {
  position: relative;
  top: 20px;
}

.solaredge-chargelevel-relative {
  position: relative;
  top: 35px;
}

.solaredge-batterylevel-relative {
  position: relative;
  bottom: 15px;
}

.solaredge-image {
  width: 96px;
  height: 96px;
}
