.solaredge-container {
  width: 100%;
  max-width: 500px;
  margin-right: auto;
  margin-left: auto;
}

.solaredge-row {
  display: flex;
  flex-wrap: wrap;
}

.solaredge-col {
  flex: 1 0 0;
}

.solaredge-mid {
  max-width: 30%;
}

.solaredge-align-self-center {
  align-self: center;
  text-align: center;
}

.solaredge-color-stand-by {
  color: darkred;
}

.solaredge-border-bottom {
  border-bottom: 1px solid var(--color-text-dimmed);
}

.solaredge-text-align-left {
  text-align: left;
}

.solaredge-text-align-right {
  text-align: right;
}

.solaredge-chargelevel-relative {
  position: relative;
  top: 30px;
}

.solaredge-batterylevel-relative {
  position: relative;
  bottom: 15px;
}

.solaredge-compact {
  margin-top: -12px;
}

.solaredge-compact-image {
  margin-top: -12px;
  margin-bottom: -12px;
}

.solaredge-compact .solaredge-mid {
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
}

.solaredge-compact img {
  width: 60%;
  height: 60%;
}
