.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.block {
  width: 120px;
  height: 120px;
  margin: 10px;
}

.arrow-block {
  width: 60px;
  height: 120px;
  margin-top: 50px;
}

.stand-by {
  color: darkred;
}

.limit-width {
  border-top: 1px solid var(--color-text-dimmed);
  border-bottom: 1px solid var(--color-text-dimmed);
  width: 480px;
  margin-left: auto;
  margin-right: auto;
}

.border-top {
  border-top: 1px solid var(--color-text-dimmed);
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}
