{% extends "templates/parent.njk" %}

{% block pv_installation %}
  <div class="solaredge-parent-pv-only">
    <div class="div-pv-only-status">
      <div class="solaredge-align-self-center">
        <div class="solaredge-image"><img src="{{ config.moduleRelativePath }}/images/pv.svg"></div>
        {% if powerAndStatus.pv.status != "Idle" %}
         <div class="small bright">{{ powerAndStatus.pv.power }} {{ powerAndStatus.unit }}</div>
        {% endif %}
        {% if powerAndStatus.pv.status == "Idle" %}
         <div class="small solaredge-color-stand-by">{{ "STAND_BY" | translate }}</div>
        {% endif %}
      </div>
    </div>
    <div class="div-home">
      <div class="solaredge-align-self-center">
        <div class="solaredge-align-self-center">
          <div class="solaredge-image"><img src="{{ config.moduleRelativePath }}/images/home.svg"></div>
          <div class="small bright">{{ powerAndStatus.load.power }} {{ powerAndStatus.unit }}</div>
        </div>
      </div>
    </div>
    <div class="div-grid-status">
      <div class="solaredge-align-self-center">
        <div class="solaredge-image"><img src="{{ config.moduleRelativePath }}/images/grid.svg"></div>
        <div class="small bright">{{ powerAndStatus.grid.power }} {{ powerAndStatus.unit }}</div>
      </div>
    </div>
    <div class="div-pv-only-arrow">
      <div class="solaredge-align-self-center">
        {% if arrowDirections.arrowPvLoad != "none" %}
         <div><img src="{{ config.moduleRelativePath }}/images/arrow_{{ arrowDirections.arrowPvLoad }}.svg"></div>
        {% endif %}
      </div>
    </div>
    <div class="div-grid-arrow">
      <div class="solaredge-align-self-center">
        {% if arrowDirections.arrowGridLoad != "none" %}
          <div><img src="{{ config.moduleRelativePath }}/images/arrow_{{ arrowDirections.arrowGridLoad }}.svg"></div>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
