{% extends "templates/parent.njk" %}

{% block pv_installation %}
    <div class="solaredge-row solaredge-border-bottom">
      <div class="solaredge-col solaredge-align-self-center">
        <div class="solaredge-container">
          <div class="solaredge-row">
            <div class="solaredge-col solaredge-align-self-center">
                {% if config.compactMode %}
                  <div class="solaredge-compact-image"><img src="{{ config.moduleRelativePath }}/images/pv.svg"></div>
                {% else %}
                  <div><img src="{{ config.moduleRelativePath }}/images/pv.svg"></div>
                {% endif %}
                {% if powerAndStatus.pv.status != "Idle" %}
                  <div class="small bright">{{ powerAndStatus.pv.power }} {{ powerAndStatus.unit }}</div>
                {% endif %}
                {% if powerAndStatus.pv.status == "Idle" %}
                  <div class="small solaredge-color-stand-by">{{ "STAND_BY" | translate }}</div>
                {% endif %}
              </div>
              <div class="solaredge-col solaredge-mid solaredge-align-self-center">
                {% if arrowDirections.arrowPvLoad != "none" %}
                  <div><img src="{{ config.moduleRelativePath }}/images/arrow_{{ arrowDirections.arrowPvLoad }}.svg"></div>
                {% endif %}
              </div>
            </div>
        </div>
      </div>
      <div class="solaredge-col solaredge-mid solaredge-align-self-center">
        {% if config.compactMode %}
          <div class="solaredge-compact-image"><img src="{{ config.moduleRelativePath }}/images/home.svg"></div>
        {% else %}
          <div><img src="{{ config.moduleRelativePath }}/images/home.svg"></div>
        {% endif %}
        <div class="small bright">{{ powerAndStatus.load.power }} {{ powerAndStatus.unit }}</div>
      </div>
      <div class="solaredge-col solaredge-align-self-center">
        <div class="solaredge-container">
          <div class="solaredge-row">
            <div class="solaredge-col solaredge-mid solaredge-align-self-center">
              {% if arrowDirections.arrowGridLoad != "none" %}
                <div><img src="{{ config.moduleRelativePath }}/images/arrow_{{ arrowDirections.arrowGridLoad }}.svg"></div>
              {% endif %}
            </div>
            <div class="solaredge-col solaredge-align-self-center">
              {% if config.compactMode %}
                <div class="solaredge-compact-image"><img src="{{ config.moduleRelativePath }}/images/grid.svg"></div>
              {% else %}
                <div><img src="{{ config.moduleRelativePath }}/images/grid.svg"></div>
              {% endif %}
              <div class="small bright">{{ powerAndStatus.grid.power }} {{ powerAndStatus.unit }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}

